body {
    background-color:#8B008B;
}

h1 {
    font-size: 50px;
}

.image {
   content:url(https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiI9qesks7WAhUV9mMKHTX4BmsQjRwIBw&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DAzmN9cV-qtQ&psig=AOvVaw3k-Ut0QrhSvuyeRb2-HufY&ust=1506903286273943);
}
