body {
    background-color:#8B008B;
}

h1 {
    font-size: 50px;
}

/*everything below is for the menu bar*/

ul{
 list-style-type; 44px;
 padding: 0;
 overflow: hidden;
 background-color: white; 
 float: center;
 
}

p {
 color: black;
	font-family: "Impact";
	font-size: 25px;
 margin: auto;
 margin: 10px 150px 10px 150px
}
 
nav li {
	display: inline-block;
}
 
nav ul {
	text-align: left;
}
 
nav.block-element ul {
	display: block;
	margin: auto;
	width: 50%;
} 
 
ul {
	list-style-type: none;
	overflow: hidden;
	background-color: #222;
 text-align: center;
 text-align: center;
 display:flex;
 justify-content: center;
}
li {
	float: left;
}

li a {
	display: inline-block;
	color: white;
	text-align: right;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #999;
}
li{
}
li a {
display: inline-block;
color: white;
text-align: right;
padding: 25px
text-decoration: none;
}
/*Everything above this comment is fo the Navigation bar*/
